@font-face{
	font-family: "PT Sans";
	src: url("../fonts/ptsans.woff") format("woff"),
         url("../fonts/ptsans.woff2") format("woff2");
    font-weight: 400;
	font-style: normal;
 }


@font-face{
	font-family: "PT Sans";
	src: url("../fonts/ptsansbold.woff") format("woff"),  
         url("../fonts/ptsansbold.woff2") format("woff2");
    font-weight: 700;
	font-style: bold;

}


body{
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	background-color: #ffffff;
}

*, *::before, *::after{
	box-sizing: inherit;
}


html{
	box-sizing: border-box;
}

.block{
	box-sizing: content-box;
}

img{
	max-width: 100%;
	height: auto;
}


.visually-hidden{
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: 0 0 0 0;
	overflow: hidden;
}


.container{
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);

	
}



.header{
	display: flex;
}

/* Не используемые селекторы удалить потом */


.header .logo{
	position: absolute;
	z-index: 2;
	left: 50%;
		
	width: 140px;	
	height: 82px;

	margin-left: -70px;
}

.header .nav{

}


.nav .nav-items{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-items .nav-item:nth-child(2){
}

.nav-items .nav-item:nth-child(2){
	margin-right: 122px;
}


.nav-items .nav-item:nth-child(3){
	margin-left: 125px;
}

.nav-items .nav-item:nth-child(4){
	/*margin-left: 89px;*/
}





.nav-items a{
	display: block;

	padding-top: 15px;
	padding-right: 70px;
	padding-bottom: 15px;
	padding-left: 74px;

	vertical-align: middle;
	color: #000000;
	text-decoration: none;

	

	
}


.nav-items a:hover{
	color: #81b3d2;
}

.nav-items a:active{
	color: #000000;
	opacity: 0.3;
}



.nav-items .nav-active{
	color: #766357;
}

.main{
}

.main .intro{
	position: relative;	
	z-index: 1;
	min-height: 744px;
	background-color: #81b3d2;
	background-image: url("../img/background photo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 -80px;
}

.main .intro::before{
	content: "";
	position: absolute;
	bottom: 224px;
	left: -1px;
	width: 1201px;
	height: 59px;
	background-image: url("../img/polygon.png");
	background-repeat: no-repeat;
		
}

.intro .intro-img{
	display: block;
	margin: 0 auto;
	padding-top: 77px;
}

.sedona-description{
	position: absolute;
	bottom: -1px;
	width: 1200px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #ffffff;
}


 .sedona-description .description-title{
 	width: 440px;
 	margin: 0 auto;
	margin-top: 61px;
	color: #333333;
	font-size: 21px;
}


.sedona-description .description-text{
	margin-bottom: 36px;
	color: #333333;
	font-weight: 400;
}


.primary-reason {
	display: flex;
	font-size: 0;
	line-height: 0;
	background-color: #81b3d2;
	
}




.primary-reason .reason-description{
	margin: 0;
	max-width: 400px;
	padding-top:46px;
	padding-right: 60px;
	padding-bottom: 40px;
	padding-left: 60px;
	text-align: center;

}




.reason-description  .reason-title{
	margin: 0 auto;
	max-width: 150px;
	color: #ffffff;
	font-size: 21px;
	font-weight: 700;
	line-height: 21px;
}



.reason-description .reason-number,
.reason-description .reason-text{
	margin: 0;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

.reason-description .reason-number{
	display: block;
	margin-top: 32px;
	margin-bottom: 32px;

}

.reason-description .reason-text{
		
}




.change-order{/* ДОП КЛАСС МЕНЯЕТ МЕСТАМИ КАРТИНКУ И ОПИСАНИЕ*/
	order: 1;
}

.advantages{
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
}

.advantages .advantages-item {
	position: relative;
	padding-right: 73px;
	padding-left: 63px;
}

.advantages-item:nth-child(2)::before{
	content: "";
	position: absolute;
	top: 60px;
	left: 162px;
	width: 75px;
	height: 72px;
	background-image: url("../img/icon-1.png");
	background-repeat: no-repeat;
	background-size: cover;
}


.advantages-item:nth-child(3)::before{
	content: "";
	position: absolute;
	top: 61px;
	left: 163px;
	width: 74px;
	height: 70px;
	background-image: url("../img/icon-3.png");
	background-repeat: no-repeat;
	background-size: cover;

}


.advantages-item:nth-child(4)::before{
	content: "";
	position: absolute;
	top: 56px;
	right: 168px;
	width: 64px;
	height: 76px;
	background-image: url("../img/icon-2.png");
	background-repeat: no-repeat;
	background-size: cover;

}


.advantages-item h4{
	margin: 0;
	margin-top: 161px;
	margin-bottom: 31px;
	text-align: center;
	font-size: 21px;
	font-weight: 700;
		
}

.advantages-item p{
	margin-bottom: 88px;
	color: #333333;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

.secondary-reasons{
	display: flex;
	justify-content: space-between;
	background-color: #eeeeee;
}

.secondary-reason{
	padding-top: 50px;
	padding-right: 77px;
	padding-bottom: 64px;
	padding-left: 95px;

}

.secondary-reason .reason-title{
	color: #000000;
	text-align: center;
	font-size: 21px;
	font-weight: 700;
}

.secondary-reason .reason-number,
.secondary-reason .reason-text{
	text-align: center;
	color: #333333;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}


.searchform-description{
	background-color: #ffffff;
}

.searchform-description h2{
	margin-top: 50px;
	text-align: center;
	color: #000000;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	text-align: center;

}


.searchform-description p{
	margin: 0;
	text-align: center;
	color: #333333;
	font-weight: 400;
	line-height: 24px;

	z-index: -1;
}

.searchform-description p:nth-child(3){
	margin-bottom: 52px;
}



.motel-searchform{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.motel-searchform .motel-button{
	width: 568px;
	height: 16px;

	padding-top: 35px;
	padding-bottom: 35px;
	z-index: 2;

	display: block;
	text-align: center;
	vertical-align: middle;

	color: #ffffff;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-decoration: none;

	background-color: #766357;
}


.motel-searchform .motel-button:hover{
	background-color: #604e43;
}

.motel-searchform .motel-button:active{
	opacity: 0.3;

	background-color: #503e33;
}

.motel-form{
	position: absolute;
	top: 86px;
	left: 316px;

	background-color: #ffffff;
	z-index: 1;

}

.motel-fieldset{

	padding: 55px;
	width: 568px;
	min-height: 395px;

	background-color: #ffffff;
	border: none;
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
	z-index: 1;

}

.motel-fieldset p{
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
}

.motel-fieldset legend{
	display: none;
}



.checkout-field{
	width: 458px;
}

.adults-field{
	width: 225px;
}

.kids-field{
	width: 225px;
}




.motel-form input[type="date"]{
	width: 346px;
	height: 38px;
	
	font-size: 14px;
	font-weight: 700;

	background-color: #f2f2f2;
	border: none;
}


.motel-form input[type="date"]:hover{
	background-color: #ebebeb;
}


.motel-form input[type="date"]:active{
	
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}


.motel-form input[type="number"]{
	width: 38px;
	height: 38px;
	
	text-align: center;
	font-size: 14px;
	font-weight: 700;

	background-color: #f2f2f2;
	border: none;
}


.motel-form .decrement-button,
.motel-form .increment-button{
	width: 38px;
	height: 38px;


	background-color: #f2f2f2;
	border: none;
}

.motel-fieldset .find-button{;
	width: 458px;
	height: 58px;
	color: #ffffff;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;

	background-color: #81b3d2;
	border: none;
}


.motel-fieldset .find-button:hover{
	background-color: #669ec0;
}


.motel-fieldset .find-button:active{
	opacity: 0.3;

	background-color: #5496bd;
}


.map-field{
	position: absolute;
	top: 86px;
	right: 0;
	z-index: 0;
	width: 1200px;
	height: 594px;
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #fefefe;
}


.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	margin-top: 462px;
	
	z-index: 2;

	background-color: #ffffff;
	opacity: 0.9;
}

.visitsedona-wrapper{ 
	padding-top: 51px;
	margin-bottom: 53px;
	margin-left: 132px;
}


.visitsedona-wrapper a{
	color: #000000;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-decoration: none;
}


.links-list{
	display: flex;
	list-style: none;
}

.links-item{
	padding-right: 6px;
}


.links-list .links-button{
	width: 46px;
	height: 48px;

	display: inline-block;

	text-decoration: none;
	background-color: #81b3d2;
}


.links-list .links-button:hover{
	background-color: #669ec0;
}


.links-list .links-button:active{
	background-color: #5496bd;
}

.button-tw{}
.button-fb{}
.button-yt{}

.button-tw::before{
	content: "";

	width: 17px;	
	padding: 15px;

	background-image: url("../img/t.png");
	background-repeat: no-repeat;
	background-position: 14px 30px;

}
.button-fb::before{
	content: "";

	width: 12px;	
	padding: 22px;

	background-image: url("../img/fb-icon.png");
	background-repeat: no-repeat;
	background-position: 14px 30px;

}
.button-yt::before{
	content: "";

	width: 20px;	
	padding: 16px;

	background-image: url("../img/youtube.png");
	background-repeat: no-repeat;
	background-position: 11px 30px;

}



.button-tw:active::before,
.button-fb:active::before,
.button-yt:active::before{
		opacity: 0.3;
}


.website-creator{
	margin-right: 224px;
}


.website-creator .creator-field{

	color: #000000;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
}

.creator-field .accademy-link{
	
}


.creator-field .accademy-link{}
.creator-field .accademy-link:hover{}
.creator-field .accademy-link:active{}





/*СТИЛИ catalog.html*/

.catalog-main{
	background-color: #fefefe;
}


.book-section{
	background-image: url("../img/hotels-img/filter_background.jpg");
	background-repeat: no-repeat;
	background-color:#81b3d2;
}


.book-section .bookform{
	display: flex;
}


.bookform .bookform-wrapper{
	display: flex;
	flex-direction: column;

}

.bookform-wrapper:first-child{
		margin-right: 115px;
		margin-left: 72px;
}

.bookform-wrapper:nth-child(3){
	margin-right: 205px;
	margin-left: auto;
}


.bookform-wrapper .bookform-title{
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
}


.bookform-wrapper .bookform-label{
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}


.bookform-wrapper input[type="checkbox"]{
	width: 27px;
	height: 23px;

	background-color: #ffffff;
}

/*Тут будут стили для чекбоксов*/

/*Тут будет ползунок диапазона*/

.bookform-wrapper .show-button{
	width: 133px;
	height: 32px;


	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	text-transform: uppercase;
	
	background-color: transparent;
	border: 2px solid #ffffff;

}


.bookform-wrapper .show-button:hover{
	color: #000000;
	background-color: #ffffff;
	
}


.found-elements{
	display: flex;
	margin-left: 72px;
}


.found-elements .elements-quantity{
	margin-top: 31px;
	color: #000000;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}


.found-elements .elements-sort{
	margin-top: 41px;
	color: #000000;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}


.sort-list{

	list-style: none;
	display: flex;
}


.sort-list .sort-item{
	margin: 0;	
}


.sort-item .sort-normal{
	color: #000000;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	opacity: 0.3;
	text-decoration: none;

	border-bottom: 1px dotted #000000;
}


.sort-item .sort-normal:hover{
	color: #81b3d2;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	opacity: 1;

	border-bottom: 1px dotted  #81b3d2;
}


.sort-item .sort-normal:active{
	color: #000000;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;

	border: none;
}


.sort-item .sort-active{
	color: #81b3d2;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: none;
}


.found-elements .sort-arrows{
	display: flex;

	list-style: none;


	}/*Здесь должны быть стрелки*/

.sort-arrows .sort-arrow{}

.sort-arrow a{
	text-decoration: none;
}





.found-hotels{
	display: flex;
	flex-direction: column;
}


.found-hotels 
.found-hotel{}


 .hotel-title{
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	
}


.hotel-title a{
	color: #000000;
	text-decoration: none;
}

.hotel-title a:hover{
	color: #81b3d2;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}


.hotel-title a:active{
	color: #000000;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	opacity: 0.3;
}


.hotel-img{}


 .hotel-type,
 .hotel-price{
	color: #333333;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;

}

.hotel-details{
	display: inline-block;
	text-align: center;

	
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	text-decoration: none;


	background-color: #81b3d2;
}

.hotel-details:hover{
	background-color: #669ec0;
}


.hotel-details:active{
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	opacity: 0.3;

	background-color: #5496bd;
}


.hotel-booking{
	display: inline-block;
	text-align: center;

	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	text-decoration: none;
	
	background-color: #766357;
}


.hotel-booking:hover{
	background-color: #604e43;
}



.hotel-booking:active{

	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	opacity: 0.3;

	background-color: #503e33;
}


.rate-wrapper{}

.rate{

	color: #666666;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;

	background-color: #f2f2f2;
}